@font-face {
    font-family: Barlow-700;
    src: url(./assets/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf)
        format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Barlow-500;
    src: url(./assets/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf)
        format("truetype");
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --Gold-500: hsl(39, 89%, 49%);
    --Gold-600: hsl(28, 76%, 44%);
    --Blue-500: hsl(230, 89%, 62%);
    --Blue-700: hsl(229, 64%, 46%);
    --Red-600: hsl(349, 71%, 52%);
    --Red-800: hsl(347, 75%, 35%);
    --Purple-600: hsl(261, 73%, 60%);
    --Purple-700: hsl(261, 51%, 44%);
    --Light-blue-400: hsl(189, 59%, 53%);
    --Light-blue-500: hsl(194, 58%, 42%);
    --very-light: #f1f1f1;

    --Navy-900: hsl(229, 25%, 31%);
    --Gray-600: hsl(246, 11%, 37%);

    --bg-Gradient: radial-gradient(
        circle at 50% 10%,
        hsl(214, 47%, 23%),
        hsl(237, 48%, 15%)
    );
}

img {
    display: block;
}

:root {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-Gradient);
}

.main__con {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
    padding-block-end: 4rem;
}

.main {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--Navy-900);
    border-radius: 1rem;
    width: 100%;
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
    margin: 2rem 0 10rem;
}

.main__logo {
    width: 9rem;
    height: auto;
    margin-inline-start: 1rem;
}

.score {
    background-color: var(--very-light);
    border: 2px solid #000;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    padding: 2rem;
}

.text {
    font-family: Barlow-500, sans-serif;
    text-transform: uppercase;
    color: var(--Blue-700);
    font-size: 1.4rem;
}

.score__disp {
    font-family: Barlow-700, sans-serif;
    font-size: 5rem;
    color: var(--Gray-600);
}

.hidden {
    display: none;
}

.mb__hidden {
    display: none;
}

.rules__con {
    background-color: var(--very-light);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}

.rule__head {
    display: flex;
    justify-content: center;
    font-family: Barlow-700, sans-serif;
    align-items: center;
    text-transform: uppercase;
    font-size: 2.7rem;
    color: var(--Navy-900);
}

.close__btn {
    border: none;
    outline: none;
}

.game__section {
    width: 100%;
}

.normal__game__btns__con {
    position: relative;
    margin-block-start: 4rem;
    min-height: 20rem;
    height: auto;
    width: 28rem;
    margin-inline: auto;
    background: url("./assets/images/bg-triangle.svg") center / contain
        no-repeat;
}

.bonus__game__btns__con {
    position: relative;
    margin-block-start: 4rem;
    margin-block-end: 10rem;
    min-height: 20rem;
    height: auto;
    width: 28rem;
    margin-inline: auto;
    background: url("./assets/images/bg-pentagon.svg") center / contain
        no-repeat;
}

.game__btn {
    background-color: var(--very-light);
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    outline: 18px solid;
    position: absolute;
    cursor: pointer;
}

.paper__btn {
    outline-color: var(--Blue-500);
    left: 0;
    bottom: 50%;
    transform: translateY(-50%);
    box-shadow: inset -1px 6px 0 rgba(157, 155, 155, 0.4),
        -1px 7px 0 16px hsl(229, 64%, 46%);
}

.scissors__btn {
    outline-color: var(--Gold-500);
    right: 0;
    bottom: 50%;
    transform: translateY(-50%);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 7px 0 16px hsl(28, 76%, 44%);
}

.rock__btn {
    outline-color: var(--Red-600);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 7px 0 16px hsl(347, 75%, 35%);
}

.bns__game__btn {
    background-color: var(--very-light);
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50%;
    outline: 14px solid;
    position: absolute;
    cursor: pointer;

    img {
        width: 4rem;
    }
}

.bns__paper__btn {
    outline-color: var(--Blue-500);
    right: 0;
    top: 0;
    transform: translateY(50%);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 4px 0 14px hsl(229, 64%, 46%);
}

.bns__scissors__btn {
    outline-color: var(--Gold-500);
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 4px 0 14px hsl(28, 76%, 44%);
}

.bns__rock__btn {
    outline-color: var(--Red-600);
    bottom: 0;
    right: 0;
    transform: translate(-50%, 50%);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 4px 0 14px hsl(347, 75%, 35%);
}

.bns__lizard__btn {
    outline-color: var(--Purple-600);
    bottom: 0;
    left: 0;
    transform: translate(50%, 50%);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 4px 0 14px hsl(261, 51%, 44%);
}

.bns__spock__btn {
    outline-color: var(--Light-blue-400);
    left: 0;
    top: 0;
    transform: translateY(50%);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 4px 0 14px hsl(194, 58%, 42%);
}

.game__settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block-start: 6rem;
    max-width: 120rem;
    margin-inline: auto;
}

.game__set {
    border: 3px solid var(--Navy-900);
    background: transparent;
    color: var(--very-light);
    text-transform: uppercase;
    font-family: Barlow-500, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: 15rem;
    padding: 1rem;
    border-radius: 0.8rem;
    margin-block-end: 1rem;
    cursor: pointer;
}

.modal {
    background-color: hsla(0, 0%, 0%, 0.25);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    inset: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt {
    width: 90%;
    max-width: 50rem;
    border-radius: 1rem;
    background-color: var(--very-light);
    text-transform: uppercase;
    font-family: Barlow-500, sans-serif;
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem;
}

.warning {
    color: var(--Blue-500);
    font-family: Barlow-700, sans-serif;
}

.warning__text {
    color: var(--Red-600);
    margin-block-start: 1rem;
    font-family: Barlow-700, sans-serif;
    font-size: 1.9rem;
}

.prompt__btns__con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block-start: 2rem;
}

.prompt__btn {
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-family: Barlow-500, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: 10rem;
    padding: 0.7rem 1rem;
    border-radius: 0.8rem;
    margin-block-end: 1rem;
    color: var(--very-light);
    cursor: pointer;
}

.cancel {
    background-color: var(--Red-600);
}

.confirm {
    background-color: var(--Blue-500);
}

.game__selections {
    width: 100%;
    max-width: 90rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin-block-end: 8rem;
    row-gap: 3rem;
    margin-inline: auto;
}

.player__selection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    border-radius: 50%;
    position: relative;
}

.plyr__sel__btn::before {
    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    background: radial-gradient(
        circle,
        hsla(246, 11%, 37%, 0.35) 0%,
        hsla(246, 11%, 37%, 0.35) 14.2857%,
        hsla(246, 11%, 37%, 0.3) 14.2857%,
        hsla(246, 11%, 37%, 0.3) 28.5714%,
        hsla(246, 11%, 37%, 0.25) 28.5714%,
        hsla(246, 11%, 37%, 0.25) 42.8571%,
        hsla(246, 11%, 37%, 0.2) 42.8571%,
        hsla(246, 11%, 37%, 0.2) 57.1428%,
        hsla(246, 11%, 37%, 0.15) 57.1428%,
        hsla(246, 11%, 37%, 0.15) 71.4285%,
        hsla(246, 11%, 37%, 0.1) 71.4285%,
        hsla(246, 11%, 37%, 0.1) 85.7142%,
        hsla(246, 11%, 37%, 0.05) 85.7142%,
        hsla(246, 11%, 37%, 0.05) 100%
    );

    animation: growCircle 5s ease-in-out infinite;
    z-index: -1;
}

@keyframes growCircle {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
}

.house__selection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.selected__btn {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: hsla(237, 48%, 15%, 0.3);
    border: none;
    position: relative;
}

.player__sel__btn,
.house__sel__btn {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-light);
    outline: 1.6rem solid;
    position: relative;
    animation: showImg 1s ease-out forwards;
}

@keyframes showImg {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

.player__sel__btn.paper,
.house__sel__btn.paper {
    outline-color: var(--Blue-500);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 7px 0 14px hsl(229, 64%, 46%);
}
.player__sel__btn.scissors,
.house__sel__btn.scissors {
    outline-color: var(--Gold-500);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 7px 0 14px hsl(28, 76%, 44%);
}
.player__sel__btn.rock,
.house__sel__btn.rock {
    outline-color: var(--Red-600);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 7px 0 14px hsl(347, 75%, 35%);
}
.player__sel__btn.lizard,
.house__sel__btn.lizard {
    outline-color: var(--Purple-600);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 7px 0 14px hsl(261, 51%, 44%);
}
.player__sel__btn.spock,
.house__sel__btn.spock {
    outline-color: var(--Light-blue-400);
    box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
        -1px 7px 0 14px hsl(194, 58%, 42%);
}

.game__stats {
    margin-block-start: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-column: span 2;
    animation: showImg 1s ease-out forwards;
}

.game__stat {
    text-transform: uppercase;
    color: var(--very-light);
    font-family: Barlow-700, sans-serif;
    font-size: 4.2rem;
    letter-spacing: 0.1rem;
}

.new__game__btn {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-family: Barlow-700, sans-serif;
    padding: 1.4rem 3.6rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--very-light);
    cursor: pointer;
}

.new__game__btn:hover {
    color: var(--Red-600);
}

.sel__text {
    font-size: 1.6rem;
    font-family: Barlow-700, sans-serif;
    color: var(--very-light);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.attribution {
    font-size: 1.6rem;
    font-family: Barlow-700, sans-serif;
    color: var(--very-light);
    text-align: center;
    margin-block-start: 4rem;
    position: relative;
    bottom: -50%;
}

.attribution a {
    text-decoration: none;
    color: var(--Blue-500);
}

@media (min-width: 45rem) {
    .mb__hidden {
        display: block;
    }

    .lg__hidden {
        display: none;
    }

    .main__logo {
        width: 12rem;
    }

    .score {
        width: 12rem;
        height: 9rem;
        padding: 2rem;
    }

    .text {
        font-size: 1.6rem;
    }

    .score__disp {
        font-size: 5rem;
        color: var(--Gray-600);
    }

    .normal__game__btns__con {
        height: 32rem;
        width: 30rem;
        margin-block-start: 6rem;
    }

    .bonus__game__btns__con {
        height: 30rem;
        width: 30rem;
        margin-block-start: 6rem;
    }

    .game__btn {
        width: 16rem;
        height: 16rem;
        outline-width: 24px;
    }

    .paper__btn {
        left: 0;
        top: -50%;
        transform: translate(-50%, 50%);
        box-shadow: inset -1px 10px 0 rgba(157, 155, 155, 0.4),
            -2px 10px 0 22px hsl(229, 64%, 46%);
    }

    .scissors__btn {
        right: 0;
        top: -50%;
        transform: translate(50%, 50%);
        box-shadow: inset -1px 10px 0 rgba(157, 155, 155, 0.4),
            -2px 10px 0 22px hsl(28, 76%, 44%);
    }

    .rock__btn {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: inset -1px 10px 0 rgba(157, 155, 155, 0.4),
            -2px 10px 0 22px hsl(347, 75%, 35%);
    }

    .bns__game__btn {
        width: 10rem;
        height: 10rem;
        outline-width: 18px;

        img {
            width: 4rem;
        }
    }

    .bns__paper__btn {
        right: 0;
        top: 50%;
        transform: translate(50%, -80%);
        box-shadow: inset -1px 6px 0 rgba(157, 155, 155, 0.4),
            -1px 7px 0 16px hsl(229, 64%, 46%);
    }

    .bns__scissors__btn {
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
            -1px 4px 0 14px hsl(28, 76%, 44%);
    }

    .bns__rock__btn {
        bottom: 0;
        right: 0;
        transform: translate(0, 50%);
        box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
            -1px 4px 0 14px hsl(347, 75%, 35%);
    }

    .bns__lizard__btn {
        bottom: 0;
        left: 0;
        transform: translate(0, 50%);
        box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
            -1px 4px 0 14px hsl(261, 51%, 44%);
    }

    .bns__spock__btn {
        outline-color: var(--Light-blue-400);
        left: 0;
        top: 50%;
        transform: translate(-50%, -80%);
        box-shadow: inset -1px 5px 0 rgba(157, 155, 155, 0.4),
            -1px 4px 0 14px hsl(194, 58%, 42%);
    }

    .player__selection {
        flex-direction: column-reverse;
        gap: 8rem;
        transform: translateX(20%);
        order: -1;
        animation: movePlayer 1s ease 2s forwards;

        img {
            width: 6rem;
        }
    }

    .house__selection {
        flex-direction: column-reverse;
        gap: 8rem;
        transform: translateX(-20%);
        order: 1;
        animation: moveHouse 1s ease 2s forwards;

        img {
            width: 6rem;
        }
    }

    .selected__btn {
        width: 16rem;
        height: 16rem;
    }

    .sel__text {
        font-size: 2.2rem;
    }

    .player__sel__btn.paper,
    .house__sel__btn.paper {
        outline-color: var(--Blue-500);
        box-shadow: inset -1px 10px 0 rgba(157, 155, 155, 0.4),
            -1px 10px 0 20px hsl(229, 64%, 46%);
    }
    .player__sel__btn.scissors,
    .house__sel__btn.scissors {
        outline-color: var(--Gold-500);
        box-shadow: inset -1px 10px 0 rgba(157, 155, 155, 0.4),
            -1px 10px 0 20px hsl(28, 76%, 44%);
    }
    .player__sel__btn.rock,
    .house__sel__btn.rock {
        outline-color: var(--Red-600);
        box-shadow: inset -1px 10px 0 rgba(157, 155, 155, 0.4),
            -1px 10px 0 20px hsl(347, 75%, 35%);
    }
    .player__sel__btn.lizard,
    .house__sel__btn.lizard {
        outline-color: var(--Purple-600);
        box-shadow: inset -1px 10px 0 rgba(157, 155, 155, 0.4),
            -1px 10px 0 20px hsl(261, 51%, 44%);
    }
    .player__sel__btn.spock,
    .house__sel__btn.spock {
        outline-color: var(--Light-blue-400);
        box-shadow: inset -1px 10px 0 rgba(157, 155, 155, 0.4),
            -1px 10px 0 20px hsl(194, 58%, 42%);
    }

    .player__sel__btn,
    .house__sel__btn {
        outline-width: 2.2rem;
    }

    .plyr__sel__btn::before {
        width: 52rem;
        height: 52rem;
    }

    .game__selections {
        display: flex;
        justify-content: center;
    }

    .game__stats {
        order: 0;
        width: 100%;
    }

    .game__settings {
        align-items: flex-end;
    }

    @keyframes movePlayer {
        0% {
            transform: translateX(20);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes moveHouse {
        0% {
            transform: translateX(-20%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .rules__con {
        width: 42rem;
        height: 42rem;
        min-height: unset;
        border-radius: 1rem;
        padding: 2rem;
        align-items: center;
    }

    .rule__head {
        justify-content: space-between;
        width: 100%;
        padding-inline: 1.6rem;
    }
}
